/calswitch/nbproject/private/
/calswitch/build/
/CalcularSwitch/nbproject/private/
/CalcularSwitch/build/
/JavaApplication22/nbproject/private/
/JavaApplication22/build/
/JavaApplication23/nbproject/private/
/JavaApplication23/build/
/while100/nbproject/private/
/while100/build/
/UsuarioLogin/nbproject/private/
/UsuarioLogin/build/